@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body  {
    font-family: Montserrat, sans-serif;
    background-color: black;
}

.info_text {
    color: whitesmoke;
    text-align: center;
    line-height: 20px;
}

h1 {
    font-size: 3rem;
}

p {
    color: white;
    font-family: Montserrat, sans-serif;
}

canvas {
    margin: auto;
    display: block;
    border: 2px solid black;
}

#left_dropdown {
    position: relative;
    top: -40px;
}

@media only screen and (max-width: 757px) {
    #canvas {
        width: 85%;
    }
}
